{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to My App</h1>
    <h2>Uploaded Versions:</h2>
    <ul>
        {% for version in versions %}
            <li>
                Version: {{ version.version }} - {{ version.file.name }}
                <a href="{% url 'download_file' file_id=version.id %}" download>Download</a>
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="current-page">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
